@page
@model KE03_INTDEV_SE_1_Base.Pages.OverzichtModel
@{
    ViewData["Title"] = "Overzicht";
}

<h1>Overzicht</h1>

<p>Welkom op de overzichtspagina.</p>

@if (Model.Customers != null && Model.Customers.Count > 0)
{
    <ul>
        @foreach (var klant in Model.Customers)
        {
            <li>
                <strong>@klant.Name</strong> - @klant.Address
                <ul>
                    @if (klant.Orders != null && klant.Orders.Count > 0)
                    {
                        @foreach (var order in klant.Orders)
                        {
                            <li>
                                Orderdatum: @order.OrderDate.ToShortDateString()
                            </li>
                        }
                    }
                    else
                    {
                        <li><em>Geen orders voor deze klant.</em></li>
                    }
                </ul>
            </li>
        }
    </ul>
}
else
{
    <p>Geen klanten gevonden.</p>
}
