@page
@model KE03_INTDEV_SE_1_Base.Pages.OverzichtModel
@{
    ViewData["Title"] = "Overzicht";
}

<h1>Overzicht</h1>

<h2>Klanten</h2>
<ul>
    @foreach (var klant in Model.Customers)
    {
        <li>
            <strong>@klant.Name</strong> - @klant.Address
            <ul>
                @foreach (var bestelling in klant.Orders)
                {
                    <li>
                        Bestelling op: @bestelling.OrderDate.ToShortDateString()
                        <ul>
                            @foreach (var orderItem in bestelling.OrderItems)
                            {
                                <li>@($"{orderItem.Product.Name} x{orderItem.Quantity}")</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
